<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About me</title>
        <link href="assets/css/css/bootstrap.min.css" rel="stylesheet">
    <title>Contact</title>
</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/Project">My Projects</a></li>
  <li role="presentation"><a href="/Blog">Blog</a></li>
  <li role="presentation"><a href="/Contact">Contact</a></li>
</ul>

    <p>Contact</p>
</body>
</html>